<%= form_with(model: technology, local: true) do |form| %>
  <% if technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technology.errors.count, "error") %> prohibited this technology from being saved:</h2>

      <ul>
        <% technology.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :describe %>
    <%= form.text_area :describe %>
  </div>

  <div class="field">
    <%= form.label :technology_documentation_link %>
    <%= form.text_field :technology_documentation_link %>
  </div>

  <div class="field">
    <%= form.label :technology_rating %>
    <%= form.number_field :technology_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
